$azul: #0F52BA;
$azul-alpha: #0F52BAAA;
$textMenu: #000000AA;
$plata: #C0C0C0;

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  .tabla-usuarios {
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 80%;
  
    th, td {
      padding: 8px;
      border: 1px solid #ccc;
      text-align: center;
    }
  
    th {
      background-color: $azul;
      color: white;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    td:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  
    tr:not(:last-child) td {
      border-bottom: 1px solid #ccc;
    }
  }  
}

