<div class="main">
  <div class="form-container">
    <button (click)="toggleForm()">
      <fa-icon [icon]="iconNewUser" ></fa-icon>
      Nuevo {{name}}
    </button>
    <div class="form form-hide">
      <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div class="main-form">
          <div class="form-items">
            <div class="item" *ngFor="let item of form">
              <span>{{item}}:</span><input type="text" name="item" [formControlName]="item">
            </div>
          </div>
          <div class="actions">
            <button type="submit">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>