<ng-container *ngIf="menuVisible">
  <header>
    <div >
      <button (click)="eventToggleMenu()" class="icon_menu">
        <fa-icon [icon]="iconMenu" class="toggle"></fa-icon>
      </button>
    </div>
    <div >
      <button class="logout">
        <fa-icon [icon]="iconDoorClosed" class="door-closed"></fa-icon>
        <fa-icon [icon]="iconDoorOpen" class="door-open"></fa-icon>
      </button>
    </div>
  </header>
  <menu class="menu_hide">
    <div class="name_page"></div>
    <div class="options_menu">
      <a href="#" *ngFor="let item of componentes; let i = index" [attr.data-index]="i" [routerLink]="[item.ruta]" >
        <div class="option" >
          <fa-icon class="icon_menu" [icon]="item.icon" [title]="item.name"></fa-icon>
          <p>{{item.name}}</p>
        </div>
      </a>
    </div>
  </menu>
</ng-container>
