$azul-zafiro: #0F52BA;
.main {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    
    .form-active {
        background-color: $azul-zafiro;
        color: white;
      }

    button {
      padding: 10px;
      font-size: 16px;
      color: $azul-zafiro;
      background-color: #fff;
      border: 1px solid $azul-zafiro;
      border-radius: 5px;
      cursor: pointer;
      width: 200px;
      transition: background-color .35s ease-in-out;
  
      &:hover {
        background-color: $azul-zafiro;
        color: white;
      }
    }

    .form {
      border-radius: 30px;
      margin-top: 10px;
      &.form {
        width: fit-content;
        input {
          width: 150px;
        }
        select {
          width: 158px;
        }
        .form-items {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: start;
          .item {
            padding: 2px;
            text-align: left;
            display: flex;
            flex-direction: column;
          }
        }
        
        .actions {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
        }
      }

      &.form-hide {
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        form {
          display: none;
        }
      }

      &.form-open {
        visibility: visible;
        opacity: 1;
        transition: 0.3s ease-in-out;
        border: 1px solid $azul-zafiro;
        background-color: white;
        form {
          display: initial;
          color: $azul-zafiro;
        }
      }
    }
  }
}
